NODE_ENV=development
PORT=4000
JWT_SECRET=replace_me
JWT_REFRESH_SECRET=replace_me
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
MQTT_BROKER_URL=mqtt://localhost:1883
MQTT_USERNAME=
MQTT_PASSWORD=
CLIENT_URL=http://localhost:8081
